<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <h5><%= link_to product.name, product_path(product) %></h5>
    <li><%= link_to "Edit", edit_product_path(product), class: 'btn' %> <%= link_to "Delete", product_path(product), class: 'btn',
    :data => {:confirm => "Are you sure?",
      :method => "delete"} %></li>
      <br><div class="divider"></div>
  <% end %>
</ul>

<%= link_to "Add New Product", new_product_path, class:"btn" %>
